asgiref==3.8.1
astroid==3.2.3
autopep8==2.3.1
beautifulsoup4==4.12.3
dill==0.3.8
Django==4.2.14
django-cors-headers==4.4.0
djangorestframework==3.15.2
importlib_metadata==8.0.0
isort==5.13.2
Markdown==3.6
markdownify==0.13.1
mccabe==0.7.0
platformdirs==4.2.2
pycodestyle==2.12.0
pylint==3.2.5
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
tomli==2.0.1
tomlkit==0.13.0
typing_extensions==4.12.2
zipp==3.19.2
